# Python bytecode e caches
_pycache_/
*.py[cod]
*$py.class

# Ficheiros de extensão C compilados
*.so

# Distribuição/Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Logs e ficheiros temporários do pip
pip-log.txt
pip-delete-this-directory.txt

# Relatórios de testes e cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Ficheiros de tradução
*.mo
*.pot

# Ficheiros comuns em projetos Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Ficheiros comuns em projetos Flask
instance/
.webassets-cache

# Ficheiros gerados pelo Scrapy
.scrapy

# Documentação gerada pelo Sphinx
docs/_build/

# Ficheiros do PyBuilder
target/

# Pastas e ficheiros do Jupyter Notebook
.ipynb_checkpoints

# Configurações do IPython
profile_default/
ipython_config.py

# Configuração do pyenv
.python-version

# Ficheiros do Celery
celerybeat-schedule
celerybeat.pid

# Ficheiros dotenv e ambientes virtuais
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Configurações de projetos Spyder e Rope
.spyderproject
.spyproject
.ropeproject

# Pastas geradas pelo mkdocs
/site

# Cache do mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Configurações específicas do VS Code
.vscode/

# Configurações específicas do PyCharm
.idea/
*.iml